html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: "Karma", sans-serif;
    background-color: #000;
}

.block1 {
    background-color: #000;
    background-image: url("soundwave.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 14%;
    background-attachment: fixed;
    height: auto;
    margin-bottom:40px;
    width: 101%;
}

.block2 {
    background-color: #529FDB;
    height: 100vh;
    text-align: center;
    color: #fff;
    font-size: 5vh;
    padding-top: 5vh;
}

.block3 {
    height: 75vh;
    text-align: center;
    color: #fff;
    font-size: 5vh;
    padding-top: 5vh;
}

.block4 {
    height: auto;
    text-align: center;
    color: #fff;
    font-size: 5vh;
    padding-top: 5vh;
    background-color: #529FDB
}

.description {
    color: #fff;
    text-align: center;
    margin-top: 8vh;
    font-size: 3vh;
}

p.title {
    color: #fff;
    text-align: center;
    font-size: 12vh;
    margin-top: 3vh;
}

.upload {
    background-color: transparent;
    border: 0px solid transparent;
    border-radius: 40px;
    cursor: pointer;
}

.title,
.description,
.uploadtext {
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*Arrow*/
#container {
    position: relative;
}

.arrow {
    position: absolute;
    margin-top: -10px;
    left: 50%;
    width: 3vh;
    height: 3vh;
    border-left: 5px solid #fff;
    /*Width*/
    border-bottom: 5px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
}

.animated {
    -moz-animation: bounce 1s;
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
}

@-webkit-keyframes bounce {
    0% {
        top: 0;
        animation-timing-function: ease-out;
    }

    17% {
        top: 15px;
        animation-timing-function: ease-in;
    }

    34% {
        top: 0;
        animation-timing-function: ease-out;
    }

    51% {
        top: 8px;
        animation-timing-function: ease-in;
    }

    68% {
        top: 0px;
        animation-timing-function: ease-out;
    }

    85% {
        top: 3px;
        animation-timing-function: ease-in;
    }

    100% {
        top: 0;
    }
}

@-moz-keyframes bounce {
    0% {
        top: 0;
        animation-timing-function: ease-out;
    }

    17% {
        top: 15px;
        animation-timing-function: ease-in;
    }

    34% {
        top: 0;
        animation-timing-function: ease-out;
    }

    51% {
        top: 8px;
        animation-timing-function: ease-in;
    }

    68% {
        top: 0px;
        animation-timing-function: ease-out;
    }

    85% {
        top: 3px;
        animation-timing-function: ease-in;
    }

    100% {
        top: 0;
    }
}

@keyframes bounce {
    0% {
        top: 0;
        animation-timing-function: ease-out;
    }

    17% {
        top: 15px;
        animation-timing-function: ease-in;
    }

    34% {
        top: 0;
        animation-timing-function: ease-out;
    }

    51% {
        top: 8px;
        animation-timing-function: ease-in;
    }

    68% {
        top: 0px;
    }

    85% {
        top: 3px;
        animation-timing-function: ease-in;
    }

    100% {
        top: 0;
    }
}

/* width */
::-webkit-scrollbar {
    width: 2vh;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Custom*/
canvas {
    display: inline-block;
    background: #000;
    width: 100%;
    height: 45vh;
}

#record.recording {
    background-color: #fff;
}

#save,
#save img {
    height: 10vh;
}

#save {
    opacity: 0.25;
}

#save[download] {
    opacity: 1;
}

#viz {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*Drag and Drop*/
.filepond {
    width: 80%;
    margin: auto;
}

.filepond--drop-label {
    color: #4c4e53;
}

.filepond--label-action {
    text-decoration-color: #babdc0;
}

.filepond--panel-root {
    border-radius: 2em;
    background-color: #edf0f4;
    height: 1em;
}

.filepond--item-panel {
    background-color: #595e68;
}

.filepond--drip-blob {
    background-color: #7f8a9a;
}

/*************************/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}